{% extends layout_name %}

{% block title %}Developers' Section{% endblock %}

{% block body %}
    <h1>Developers' Section </h1>

    <div>
        <h2>Vasilije Bozaric</h2>

        <p>UP FAMNIT second-year student of Mathematics</p>
        <table>
            <tr class="social-media-icons">
                <td>
                    <a href="https://github.com/sovag123">
                        <i class="fab fa-github"></i>
                    </a>
                </td>

                <td>
                    <a href="https://www.instagram.com/vasilije.bozaric/">
                        <i class="fab fa-instagram"></i>
                    </a>
                </td>

                <td>
                    <a href="mailto:89221348@student.upr.si">
                        <i class="far fa-envelope"></i>
                    </a>
                </td>
            </tr>
        </table>

    </div><br>

    <div>
        <h2>Yllk&#235; Jashari</h2>

        <p>UP FAMNIT second-year student of Mathematics</p>
        <table>
            <tr class="social-media-icons">
                <td>
                    <a href="https://github.com/yllke">
                        <i class="fab fa-github"></i>
                    </a>
                </td>

                <td>
                    <a href="https://www.instagram.com/yllkejashari/">
                        <i class="fab fa-instagram"></i>
                    </a>
                </td>

                <td>
                    <a href="mailto:89221113@student.upr.si">
                        <i class="far fa-envelope"></i>
                    </a>
                </td>
            </tr>
        </table>

    </div><br>

    <div>
        <h2>Dmytro Tupkalenko</h2>

        <p>UP FAMNIT second-year student of Mathematics</p>
        <table>
            <tr class="social-media-icons">
                <td>
                    <a href="https://github.com/tupkalenkodi">
                        <i class="fab fa-github"></i>
                    </a>
                </td>

                <td>
                    <a href="https://www.instagram.com/tupkalenkodi/">
                        <i class="fab fa-instagram"></i>
                    </a>
                </td>

                <td>
                    <a href="mailto:89221329@student.upr.si">
                        <i class="far fa-envelope"></i>
                    </a>
                </td>
            </tr>
        </table>

    </div><br>

{% endblock %}