{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0,
          maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'register/css/reglog.css' %}">
    <link rel="icon" href="{% static 'Home/images/favicon/favicon.ico' %}">

    <title>{% block title %}{% endblock %}</title>

</head>

<body>
    <img src="{% static 'Home/images/favicon/favicon-32x32.png' %}" alt="C.A" id="logo" >

    {% block body %}{% endblock %}
</body>

</html>